.div {
  text-align: center;
  padding: 200px 0 340px 0;
  background: #E6516C;
  color: #fff;
}
.h1 {
  padding: 40px 0;
}
.div_user {
  padding: 7px;
}
.label_user {
  padding: 10px;
}
.div_password {
  padding: 7px;
}
.label_password {
  padding: 10px;
}
.button {
  padding: 5px;
  border: 0;
  margin: 30px 0;
}